body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(229, 235, 238) */
}

.clock-dial{
    width: 300px;
    height: 300px;
    border: 20px solid #00818a;
    border-radius: 50%;
    position: relative;
    margin-top: 150px;
    background-image: url("/images/clock-bg.jpg");
    background-size: cover;
}

.point{
    width: 20px;
    height: 20px;
    background-color: #283149;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 140px;
}

.hour{
    font-size: 20px;
    font-weight: bold;
    /* color: #283149; */
    color: white;
    position: absolute;
}

.hour1{
    top: 40px;
    right: 80px;
}

.hour2{
    top: 80px;
    right: 50px;
}

.hour3{
    top: 140px;
    right: 25px;
}

.hour4{
    top: 200px;
    right: 50px;
}

.hour5{
    top: 240px;
    right: 80px;
}

.hour6{
    top: 260px;
    right: 140px;
}

.hour7{
    top: 240px;
    right: 200px;
}

.hour8{
    top: 200px;
    right: 240px;
}

.hour9{
    top: 140px;
    right: 260px;
}

.hour10{
    top: 80px;
    right: 240px;
}

.hour11{
    top: 40px;
    right: 210px;
}

.hour12{
    top: 20px;
    right: 140px;
}

.brand{
    color: #283149;
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
    font-weight: bold;
    position: absolute;
    top: 80px;
    left: 110px;
}

.min-hand-wrapper{
    width: 200px;
    height: 200px;
    /* background-color: #123456; */
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%; 
}

.min-hand{
    position: relative;
}

/* minute hand */
.min-hand .hand{
    width: 4px;
    height: 102px;
    background-color: #404b69;
    position: absolute;
    top: -1px;
    left: 98px;
}

.min-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: #404b69;
    transform: rotate(180deg);
    position: absolute;
    left: 90px;
    top: -13px;
}

/* hour hand */
/* .hour-hand .hand{
    width: 4px;
    height: 80px;
    transform: rotate(-55deg);
    background-color: #404b69;
    position: absolute;
    top: 88px;
    left: 115px;
}

.hour-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: #404b69;
    transform: rotate(120deg);
    position: absolute;
    left: 80px;
    top: 91px;
} */

.hour-hand-wrapper{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%; 
}

.hour-hand{
    position: relative;
}

.hour-hand .hand{
    width: 4px;
    height: 70px;
    background-color: #404b69;
    position: absolute;
    top: -19px;
    left: 49px;
}

.hour-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: #404b69;
    transform: rotate(180deg);
    position: absolute;
    left: 42px;
    top: -30px;
}

/* second hand */
.sec-hand-wrapper{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 70px;
    border-radius: 50%; 
}

.sec-hand{
    position: relative;
}

.sec-hand .hand{
    width: 2px;
    height: 86px;
    background-color: #404b69;
    position: absolute;
    top: -5px;
    left: 80px;
}

.brand{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}